.calculator {
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgb(107, 107, 107);
  margin: 0 auto;
  margin-top: 100px;
  max-width: 300px;
  overflow: hidden;
  }
  
  .result {
  background-color: #292929;
  color: #fafafa;
  font-size: 2em;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  text-align: right;
  }
  
  .keypad {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  }
  
  .button {
  background-color: #3d3d3d;
  border: none;
  color: #ffffff;
  font-size: 1.7em;
  height: 60px;
  margin: 5px;
  width: calc(25% - 10px);
  border-radius: 50%;
  }
  
  .gray {
  background-color: #a0a0a5;
  }
  
  .orange {
  background-color: #ff9500;
  color: #fff;
  }
  
  .button:hover {
  cursor: pointer;
  }
  
  @media only screen and (max-width: 500px) {
  .button {
  font-size: 1.2em;
  height: 50px;
  }
  
  .result {
  font-size: 1.5em;
  height: 60px;
  line-height: 60px;
  }
  }